:root {
    --light-gray: hsl(212, 45%, 89%);
    --dark-blue: hsl(220, 15%, 55%); 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--light-gray);
}

p{
    text-align: center;
    width: 250px;
}

#card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    width: 275px;
    max-width: 275px;
    box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
    background-color: white;
    border-radius: 15px;
}

#qr-code {
    width: 250px;
    border-radius: 10px;
}

#p1 { font-size: 20px; font-weight: 700; }
#p2 { color: var(--dark-blue); font-weight: 400; }

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
}
.attribution a { color: hsl(228, 45%, 44%); }